.custom_card{
    min-height: 300px;
    min-width: 300px;
    max-height: 200px;
    background-color: #3F4448;
    color: white;
    overflow: hidden;
}

.branch_title{
    float: right;
}

.custom_card_expanded{
    width: 96vw;
    height: 96vh;
    background-color: #3F4448;
    color: white;
    margin-left: 20px;
}

.editor{
    width: 96vw;
    height: 96vh;
    margin-left: 20px;
}

.editor_custom {
    background-color: #3F4448;
}