<app-navbar></app-navbar>
<button type="button" class="btn btn-dark back">Back</button>
<button type="button" class="btn btn-dark view_tree">View Tree</button>
<button type="button" class="btn btn-dark branch_main">Branch: Main</button>

<div class="row justify-content-center m-2">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 custom_card">
        <app-card></app-card>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 custom_card">
        <app-card></app-card>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 custom_card">
        <app-card></app-card>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 custom_card">
        <app-card></app-card>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 custom_card">
        <app-card></app-card>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 custom_card">
        <app-card></app-card>
    </div>
</div>